In [1]:
import pandas as pd
import pymysql

In [2]:
"""Conectar con la base de datos de MySQL"""

connection = pymysql.connect(
host = "localhost",
user = "root",
password = "C14c31i7e*$",
db = "monitor_diario"
    )


# %%

cursor = connection.cursor()

In [3]:
"""Crear Archivo AUM FIC"""

seleccionar_tabla_temp = "SELECT fecha_corte, subtipo_negocio, cod_entidad, nombre_negocio, cod_negocio, sum(valor_fondo_al_cierre_del_dia_t) FROM monitor_diario.superfinanciera where tipo_entidad = 5 and fecha_corte > '2017-12-31' group by fecha_corte,subtipo_negocio,cod_entidad,cod_negocio, nombre_negocio"

cursor.execute(seleccionar_tabla_temp)

connection.commit()

registros = cursor.fetchall()

# %%
# Crear Dataframe con los registros de la tabla temp
registros = list(registros) # Pasar tupla a lista
registros = pd.DataFrame(registros,columns= ['Fecha','Subtipo','cod_entidad', 'nombre_negocio','cod_negocio','AUM FIC']) # Pasar a df

registros.to_csv('AUM_FIC.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV

In [4]:
"""Formatear correctamente el archivo agregados"""

agregados = pd.read_excel('AGREGADOS MONETARIOS.xlsx')

agregados

,Fecha (dd/mm/aaaa),Efectivo,Reserva Bancaria,Total,Del sector privado,Del sector público,Total.1,Cuentas de ahorro,CDT 1/,TOTAL1/,...,Repos con entidades no financieras,Total.2,Total Depósitos en poder del público 1/,M1,M21/,M31/,Depósitos Restringidos,CDT en poder el Banco de la República,Bonos en poder del Banco de la República,Total Depósitos 2/
0,1982-01-09,81.115000,133.458000,214.573000,161.428000,10.096000,171.524000,162.743000,216.264000,379.007000,...,0.0,0.0,593.922000,252.639000,631.646000,675.037000,0.0,0.0,0.0,593.922000
1,1982-01-16,76.566000,129.224000,205.790000,167.782000,9.883000,177.665000,162.557000,221.193000,383.750000,...,0.0,0.0,605.467000,254.231000,637.981000,682.033000,0.0,0.0,0.0,605.467000
2,1982-01-23,72.631000,132.232000,204.863000,167.305000,10.127000,177.432000,164.910000,223.220000,388.130000,...,0.0,0.0,608.567000,250.063000,638.193000,681.198000,0.0,0.0,0.0,608.567000
3,1982-01-30,75.807000,131.813000,207.620000,169.401000,10.562000,179.963000,165.570000,226.804000,392.374000,...,0.0,0.0,615.347000,255.770000,648.144000,691.154000,0.0,0.0,0.0,615.347000
4,1982-02-06,74.522000,137.488000,212.010000,166.711000,10.425000,177.136000,166.460000,230.057000,396.517000,...,0.0,0.0,618.495000,251.658000,648.175000,693.017000,0.0,0.0,0.0,618.495000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,2024-08-23,112784.454632,38683.163926,151467.618558,52913.805848,13957.752140,66871.557988,296281.134260,310976.068880,607257.203140,...,0.0,0.0,722498.621183,179656.012620,786913.215759,835283.075815,0.0,0.0,0.0,722498.621183
2222,2024-08-30,113796.065918,39595.904541,153391.970459,53963.096714,12247.646896,66210.743611,300777.989861,311009.891989,611787.881851,...,0.0,0.0,723582.204389,180006.809528,791794.691379,837378.270307,0.0,0.0,0.0,723582.204389
2223,2024-09-06,115352.909509,38850.142207,154203.051716,54592.321310,12587.092836,67179.414146,297635.874303,311563.436331,609199.310634,...,0.0,0.0,723228.125279,182532.323655,791731.634288,838581.034787,0.0,0.0,0.0,723228.125279
2224,2024-09-13,114744.491171,37436.826656,152181.317826,53325.821831,12938.062549,66263.884379,294072.436212,311647.625191,605720.061403,...,0.0,0.0,724841.950167,181008.375550,786728.436953,839586.441338,0.0,0.0,0.0,724841.950167
2225,2024-09-20,114079.490987,32918.655000,146998.145987,52558.703358,13155.794030,65714.497389,289236.862740,311793.069261,601029.932001,...,0.0,0.0,718565.863225,179793.988375,780823.920376,832645.354212,0.0,0.0,0.0,718565.863225

In [5]:
"""Formatear archivo IPC"""

ipc = pd.read_excel('IPC.xlsx')

ipc.to_csv('IPC.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV

ipc

,Año(aaaa)-Mes(mm),Índice,Inflación anual %,Inflación mensual %,Inflación año corrido %
0,01/07/2010,72.92,2.24,-0.04,2.42
1,01/08/2010,73.00,2.31,0.11,2.54
2,01/09/2010,72.90,2.28,-0.14,2.40
3,01/10/2010,72.84,2.33,-0.09,2.31
4,01/11/2010,72.98,2.59,0.19,2.51
...,...,...,...,...,...
162,01/01/2024,138.98,8.35,0.92,0.92
163,01/02/2024,140.49,7.74,1.09,2.01
164,01/03/2024,141.48,7.36,0.70,2.73
165,01/04/2024,142.32,7.16,0.59,3.34
166,01/05/2024,142.92,7.16,0.43,3.78

In [6]:
"""Formatear archivo tasa interes politica monetaria"""

tasa = pd.read_excel('TASA DE INTERES DE POLITICA MONETARIA.xlsx')

tasa.to_csv('TASA_INTERES_POLITICA_MONETARIA.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV

tasa

     Fecha (dd/mm/aaaa)  Tasa de intervención de política monetaria (%)
0            2024-07-02                                           11.25
1            2024-07-01                                           11.75
2            2024-06-30                                           11.75
3            2024-06-29                                           11.75
4            2024-06-28                                           11.75
...                 ...                                             ...
9310         1999-01-05                                           26.00
9311         1999-01-04                                           26.00
9312         1999-01-03                                           26.00
9313         1999-01-02                                           26.00
9314         1999-01-01                                           26.00

[9315 rows x 2 columns]

In [7]:
AUM_FIC =  pd.read_csv('AUM_FIC.csv',sep=',')

AUM_FIC['Fecha'] = pd.to_datetime(AUM_FIC['Fecha'])

AUM_FIC.head()

,Fecha,Subtipo,cod_entidad,nombre_negocio,cod_negocio,AUM FIC
0,2018-01-01,FIC BURSATILES,22,FONDO BURSÁTIL GLOBAL X COLOMBIA SELECT DE S&P,43502,8.472176e+11
1,2018-01-01,FIC DE MERCADO MONETARIO,12,CARTERA COLECTIVA ABIERTA DE ALTA LIQUIDEZ,11407,5.811707e+11
2,2018-01-01,FIC DE MERCADO MONETARIO,20,F.I.C. A. Mercado Monetario Confianza Plus,13174,3.574950e+11
3,2018-01-01,FIC DE MERCADO MONETARIO,25,FONDO DE INVERSION COLECTIVA ABIERTO 1525,17653,2.503145e+11
4,2018-01-01,FIC DE MERCADO MONETARIO,58,FIC GESTIÓN,16373,2.076970e+09

In [8]:
ipc = pd.read_csv('IPC.csv',sep=',')

ipc['Año(aaaa)-Mes(mm)'] = pd.to_datetime(ipc['Año(aaaa)-Mes(mm)'],format='%d/%m/%Y')

ipc.head()

,Año(aaaa)-Mes(mm),Índice,Inflación anual %,Inflación mensual %,Inflación año corrido %
0,2010-07-01,72.92,2.24,-0.04,2.42
1,2010-08-01,73.00,2.31,0.11,2.54
2,2010-09-01,72.90,2.28,-0.14,2.40
3,2010-10-01,72.84,2.33,-0.09,2.31
4,2010-11-01,72.98,2.59,0.19,2.51

In [9]:
tasas_cdt = pd.read_excel('TASAS DE CAPTACION CDT BANCOS.xlsx')

tasas_cdt

,Fecha(dd/mm/aaaa),Tasa 30 días,Monto A 30 días,Tasa Entre 31 y 44 días,Monto Entre 31 y 44 días,Tasa A 45 días,Monto A 45 días,Tasa Entre 46 y 59 días,Monto Entre 46 y 59 días,Tasa A 60 días,...,Tasa Entre 181 y 359 días,Monto Entre 181 y 359 días,Tasa A 360 días,Monto A 360 días,Tasa Superiores a 360 días,Monto Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Monto Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Monto Captaciones a través de CDT por tesorería
0,2018-01-02,0.011996,7483.44157,0.023127,1002.73043,0.045270,143.10280,0.014035,1094.73003,0.021400,...,0.058845,144244.80990,0.057049,123500.16745,0.061108,37217.31139,0.052959,7.328086e+05,0.058457,1.493580e+05
1,2018-01-03,0.010830,5054.38338,0.010171,658.00360,0.000100,212.19700,0.015099,1137.02554,0.025343,...,0.059277,59461.26151,0.055647,21182.60472,0.065069,21140.90817,0.052840,3.363926e+05,0.064005,2.369445e+04
2,2018-01-04,0.012400,3759.38956,0.015399,2257.27192,NaN,NaN,0.005596,1532.86456,0.020416,...,0.058336,89207.37275,0.056066,47831.66980,0.066029,48814.67972,0.052695,4.928654e+05,0.064102,7.538456e+04
3,2018-01-05,0.013152,2749.40498,0.020950,839.63400,0.046500,170.00000,0.016826,87.51337,0.027397,...,0.056345,189460.97140,0.055165,35029.10423,0.062512,134540.56827,0.052718,3.695650e+05,0.057780,4.397778e+05
4,2018-01-09,0.009684,6098.26620,0.029993,1586.62575,0.016735,112.72862,0.021754,95.65108,0.022925,...,0.057309,187061.09714,0.056749,102731.63539,0.060808,109034.53573,0.052028,6.453986e+05,0.058301,3.466528e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602,2024-07-18,0.093912,71584.06700,0.090802,14850.12726,0.095100,1283.79000,0.092625,885.03858,0.097725,...,0.106363,294511.63369,0.101381,51366.82934,0.108100,128827.03201,0.100723,1.060949e+06,0.107433,3.765896e+05
1603,2024-07-19,0.093372,105905.71445,0.061188,75226.13334,0.094211,3404.18219,0.078473,2072.92003,0.095460,...,0.107289,108789.27853,0.104539,82155.09732,0.107180,101262.82893,0.098430,1.167090e+06,0.110143,1.915724e+05
1604,2024-07-22,0.092869,192675.20576,0.064765,104292.64030,0.094857,3137.49010,0.089314,3255.05682,0.096163,...,0.102695,160302.86014,0.105028,180723.65271,0.106810,159073.05401,0.097350,1.669547e+06,0.107658,2.938526e+05
1605,2024-07-23,0.093733,82510.34535,0.094995,12046.34150,0.094906,1377.25985,0.095023,2310.58223,0.094056,...,0.105957,125234.88585,0.104284,56474.03368,0.107783,263479.75967,0.101115,1.015011e+06,0.107086,4.540304e+05
1606,2024-07-24,0.099563,186277.90876,0.092966,49781.28329,0.097977,1795.88500,0.082216,1331.62363,0.094383,...,0.106169,103901.04664,0.107774,792001.92218,0.106101,277924.76211,0.100440,1.171312e+06,0.107696,1.117096e+06

In [10]:
tasa_interes = pd.read_csv('TASA_INTERES_POLITICA_MONETARIA.csv',sep=',')

tasa_interes['Fecha (dd/mm/aaaa)'] = pd.to_datetime(tasa_interes['Fecha (dd/mm/aaaa)'])

tasa_interes.head()

  Fecha (dd/mm/aaaa)  Tasa de intervención de política monetaria (%)
0         2024-07-02                                           11.25
1         2024-07-01                                           11.75
2         2024-06-30                                           11.75
3         2024-06-29                                           11.75
4         2024-06-28                                           11.75

In [11]:
coltes = pd.read_excel('COLTES.xlsx')

coltes

,Fecha,Valor hoy,Valor ayer,Variación absoluta,Variación porcentual,Variación 12 meses,Variación año,Tir,Duración
0,2019-07-25,286.55,287.03,-0.48,-0.17%,12.07,8.73,5251.0,4989.0
1,2019-07-26,286.83,286.55,0.28,0.10%,12.18,8.84,5238.0,4989.0
2,2019-07-29,286.11,286.83,-0.72,-0.25%,11.96,8.57,5293.0,4973.0
3,2019-07-30,285.44,286.11,-0.67,-0.23%,11.90,8.31,5336.0,4962.0
4,2019-07-31,285.63,285.44,0.19,0.07%,12.07,8.39,5334.0,4963.0
...,...,...,...,...,...,...,...,...,...
1216,2024-07-19,343.56,344.75,-1.19,-0.35%,7.35,1.59,10282.0,4823.0
1217,2024-07-22,343.85,343.56,0.29,0.09%,7.87,1.67,10280.0,4816.0
1218,2024-07-23,344.05,343.85,0.20,0.06%,8.99,1.73,10271.0,4814.0
1219,2024-07-24,344.13,344.05,0.08,0.02%,8.88,1.76,10266.0,4809.0
1220,2024-07-25,343.99,344.13,-0.14,-0.04%,8.66,1.72,10268.0,4801.0

In [12]:
dolar = pd.read_csv('TRM.csv',sep=',')

dolar['VIGENCIADESDE'] = pd.to_datetime(dolar['VIGENCIADESDE'],format='%d/%m/%Y')

dolar = dolar[['VIGENCIADESDE','VALOR']]

dolar

     VIGENCIADESDE    VALOR
0       2024-07-10  4022.05
1       2024-07-09  4052.99
2       2024-07-06  4093.72
3       2024-07-04  4096.09
4       2024-07-03  4130.03
...            ...      ...
7871    1991-12-06   627.16
7872    1991-12-05   631.51
7873    1991-12-04   635.70
7874    1991-12-03   639.22
7875    1991-12-02   643.42

[7876 rows x 2 columns]

In [13]:
homologacion_categorias= pd.read_excel('HOMOLOGACION CATEGORÍAS.xlsx',sheet_name= 'Homologación')

homologacion_categorias.head()

   Cód. Negocio                                   Categoria
0          2852       Fondo de Renta Fija Pesos de Liquidez
1          2971    Fondo de Renta Fija Pesos de Corto Plazo
2          3049  Fondo de Renta Fija Pesos de Mediano Plazo
3          3078                   Fondo Balanceado Moderado
4          3644                   Fondo Accionario Nacional

In [14]:
AUM_FIC = pd.merge(AUM_FIC,homologacion_categorias,how='left',left_on='cod_negocio',right_on=	'Cód. Negocio')

In [15]:
# Filtrar por los FIC con las categorías de interés

fondos_sin_categoria = [8734,22969,115232,10026,9792,10025,117825,110777]

AUM_FIC = AUM_FIC[(AUM_FIC['Categoria'] == 'Fondo de Renta Fija Nacional para Entidades Públicas') | (AUM_FIC['Categoria'] == 'Fondo de Renta Fija Pesos de Liquidez') | (AUM_FIC['cod_negocio'].isin(fondos_sin_categoria) ) | (AUM_FIC['Categoria'] == 'Fondo de Renta Fija Pesos de Corto Plazo')]

In [16]:
AUM_FIC = AUM_FIC[['Fecha','AUM FIC']]

In [17]:
AUM_FIC = AUM_FIC.groupby(['Fecha'])['AUM FIC'].sum().reset_index()

In [18]:
AUM_FIC

          Fecha       AUM FIC
0    2018-01-01  4.277819e+13
1    2018-01-02  4.346588e+13
2    2018-01-03  4.427526e+13
3    2018-01-04  4.457223e+13
4    2018-01-05  4.464074e+13
...         ...           ...
2436 2024-09-02  8.546849e+13
2437 2024-09-03  8.640115e+13
2438 2024-09-04  8.629438e+13
2439 2024-09-05  8.628733e+13
2440 2024-09-06  8.641926e+13

[2441 rows x 2 columns]

In [19]:
# adiciones_retiros = pd.read_csv('Rentabilidades_de_los_Fondos_de_Inversi_n_Colectiva__FIC__20240725.csv',sep=',')

# adiciones_retiros.tail()

In [20]:
# adiciones_retiros = pd.merge(adiciones_retiros,homologacion_categorias,how='left',left_on='CODIGO_NEGOCIO',right_on='Cód. Negocio')

# adiciones_retiros['FECHA_CORTE'] = pd.to_datetime(adiciones_retiros['FECHA_CORTE'])

# adiciones_retiros['mes'] = adiciones_retiros['FECHA_CORTE'].dt.month

# adiciones_retiros['año'] = adiciones_retiros['FECHA_CORTE'].dt.year

# adiciones_retiros.head()

In [21]:
# mayores_movimientos = adiciones_retiros[adiciones_retiros['TIPO_ENTIDAD']==5]
# mayores_movimientos = mayores_movimientos.groupby(['FECHA_CORTE','mes','año','Categoria','NOMBRE_ENTIDAD','CODIGO_NEGOCIO','NOMBRE_PATRIMONIO'])[['APORTES_RECIBIDOS','RETIROS_REDENCIONES']].sum().reset_index()

# mayores_movimientos.to_csv('Adiciones_retiros_por_categoria.csv',sep=",",index=False, encoding='utf-8')
# mayores_movimientos

In [22]:
BD = pd.merge(AUM_FIC,agregados,how='left',left_on='Fecha',right_on='Fecha (dd/mm/aaaa)')

In [23]:
BD =  pd.merge(BD,ipc,how='left',left_on= 'Fecha',right_on='Año(aaaa)-Mes(mm)')

In [24]:
BD =  pd.merge(BD,tasa_interes,how='left',left_on= 'Fecha',right_on='Fecha (dd/mm/aaaa)')

In [25]:
# BD = pd.merge(BD,homologacion_categorias,how='left',left_on='cod_negocio',right_on=	'Cód. Negocio')

In [26]:
BD = pd.merge(BD,tasas_cdt,how='left',left_on='Fecha',right_on=	'Fecha(dd/mm/aaaa)')

In [27]:
BD = pd.merge(BD,coltes,how='left',left_on='Fecha',right_on='Fecha')

In [28]:
BD = pd.merge(BD,dolar,how='left',left_on='Fecha',right_on='VIGENCIADESDE')

In [29]:
BD.tail()

,Fecha,AUM FIC,Fecha (dd/mm/aaaa)_x,Efectivo,Reserva Bancaria,Total,Del sector privado,Del sector público,Total.1,Cuentas de ahorro,...,Valor hoy,Valor ayer,Variación absoluta,Variación porcentual,Variación 12 meses,Variación año,Tir,Duración,VIGENCIADESDE,VALOR
2458,2024-09-02,8.546849e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2459,2024-09-03,8.640115e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2460,2024-09-04,8.629438e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2461,2024-09-05,8.628733e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2462,2024-09-06,8.641926e+13,2024-09-06,115352.909509,38850.142207,154203.051716,54592.32131,12587.092836,67179.414146,297635.874303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [30]:
BD.head()

,Fecha,AUM FIC,Fecha (dd/mm/aaaa)_x,Efectivo,Reserva Bancaria,Total,Del sector privado,Del sector público,Total.1,Cuentas de ahorro,...,Valor hoy,Valor ayer,Variación absoluta,Variación porcentual,Variación 12 meses,Variación año,Tir,Duración,VIGENCIADESDE,VALOR
0,2018-01-01,4.277819e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,2018-01-02,4.346588e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,2018-01-03,4.427526e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-03,2940.94
3,2018-01-04,4.457223e+13,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-04,2908.68
4,2018-01-05,4.464074e+13,2018-01-05,58512.003886,28754.777759,87266.781645,35602.554628,10671.094981,46273.649609,170017.348229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-05,2885.76

In [31]:
# BD.to_csv('BD completa.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV

In [32]:
# Eliminar características descartables

columnas_descartables = ['Fecha (dd/mm/aaaa)_x', 'Total',
       'Total.1', 'TOTAL1/',
       'Depósitos fiduciarios', 'Cédulas',
       'Bonos 1/', 'Repos con la DGCPTN', 'Repos con entidades no financieras',
       'Total.2', 'Total Depósitos en poder del público 1/', 'M1', 'M21/',
       'M31/', 'Depósitos Restringidos',
       'CDT en poder el Banco de la República',
       'Bonos en poder del Banco de la República', 'Total Depósitos 2/',
       'Año(aaaa)-Mes(mm)', 'Índice',
       'Inflación mensual %', 'Inflación año corrido %',
       'Fecha (dd/mm/aaaa)_y',
      'Fecha(dd/mm/aaaa)', 'Monto A 30 días',
       'Monto Entre 31 y 44 días', 
       'Monto A 45 días',
       'Monto Entre 46 y 59 días', 'Monto A 60 días',
       'Monto Entre 61 y 89 días', 
       'Monto A 90 días',
       'Monto Entre 91 y 119 días', 'Monto A 120 días',
       'Monto Entre 121 y 179 días',
       'Monto A 180 días',
       'Monto Entre 181 y 359 días','Monto A 360 días',
       'Monto Superiores a 360 días',
       'Monto Captaciones a través de CDT por red de oficinas',
       'Monto Captaciones a través de CDT por tesorería',
       'Valor ayer', 'Variación absoluta', 'Variación porcentual',
       'Variación 12 meses', 'Variación año', 'Tir', 'Duración','VIGENCIADESDE'
                         ]

BD = BD.drop(columns=columnas_descartables, axis=1)

In [33]:
BD

,Fecha,AUM FIC,Efectivo,Reserva Bancaria,Del sector privado,Del sector público,Cuentas de ahorro,CDT 1/,Otros depósitos a la vista,Inflación anual %,...,Tasa A 120 días,Tasa Entre 121 y 179 días,Tasa A 180 días,Tasa Entre 181 y 359 días,Tasa A 360 días,Tasa Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Valor hoy,VALOR
0,2018-01-01,4.277819e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,4.346588e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,NaN,NaN
2,2018-01-03,4.427526e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.053122,0.056538,0.054354,0.059277,0.055647,0.065069,0.052840,0.064005,NaN,2940.94
3,2018-01-04,4.457223e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.050867,0.054752,0.053794,0.058336,0.056066,0.066029,0.052695,0.064102,NaN,2908.68
4,2018-01-05,4.464074e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,NaN,...,0.051841,0.055389,0.054582,0.056345,0.055165,0.062512,0.052718,0.057780,NaN,2885.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2024-09-02,8.546849e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,2024-09-03,8.640115e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2460,2024-09-04,8.629438e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2461,2024-09-05,8.628733e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2462,2024-09-06,8.641926e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# BD.to_csv('BD preprocesada I.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV

In [35]:
BD = BD.bfill()

BD

,Fecha,AUM FIC,Efectivo,Reserva Bancaria,Del sector privado,Del sector público,Cuentas de ahorro,CDT 1/,Otros depósitos a la vista,Inflación anual %,...,Tasa A 120 días,Tasa Entre 121 y 179 días,Tasa A 180 días,Tasa Entre 181 y 359 días,Tasa A 360 días,Tasa Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Valor hoy,VALOR
0,2018-01-01,4.277819e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.68,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
1,2018-01-02,4.346588e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
2,2018-01-03,4.427526e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.053122,0.056538,0.054354,0.059277,0.055647,0.065069,0.052840,0.064005,286.55,2940.94
3,2018-01-04,4.457223e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.050867,0.054752,0.053794,0.058336,0.056066,0.066029,0.052695,0.064102,286.55,2908.68
4,2018-01-05,4.464074e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.051841,0.055389,0.054582,0.056345,0.055165,0.062512,0.052718,0.057780,286.55,2885.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2024-09-02,8.546849e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,2024-09-03,8.640115e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2460,2024-09-04,8.629438e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2461,2024-09-05,8.628733e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2462,2024-09-06,8.641926e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
BD = BD.ffill()

BD

,Fecha,AUM FIC,Efectivo,Reserva Bancaria,Del sector privado,Del sector público,Cuentas de ahorro,CDT 1/,Otros depósitos a la vista,Inflación anual %,...,Tasa A 120 días,Tasa Entre 121 y 179 días,Tasa A 180 días,Tasa Entre 181 y 359 días,Tasa A 360 días,Tasa Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Valor hoy,VALOR
0,2018-01-01,4.277819e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.68,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
1,2018-01-02,4.346588e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
2,2018-01-03,4.427526e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.053122,0.056538,0.054354,0.059277,0.055647,0.065069,0.052840,0.064005,286.55,2940.94
3,2018-01-04,4.457223e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.050867,0.054752,0.053794,0.058336,0.056066,0.066029,0.052695,0.064102,286.55,2908.68
4,2018-01-05,4.464074e+13,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.051841,0.055389,0.054582,0.056345,0.055165,0.062512,0.052718,0.057780,286.55,2885.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2024-09-02,8.546849e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2459,2024-09-03,8.640115e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2460,2024-09-04,8.629438e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2461,2024-09-05,8.628733e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2462,2024-09-06,8.641926e+13,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05

In [37]:
BD['AUM FIC'] = BD['AUM FIC']/1000000

In [38]:
BD

,Fecha,AUM FIC,Efectivo,Reserva Bancaria,Del sector privado,Del sector público,Cuentas de ahorro,CDT 1/,Otros depósitos a la vista,Inflación anual %,...,Tasa A 120 días,Tasa Entre 121 y 179 días,Tasa A 180 días,Tasa Entre 181 y 359 días,Tasa A 360 días,Tasa Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Valor hoy,VALOR
0,2018-01-01,4.277819e+07,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.68,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
1,2018-01-02,4.346588e+07,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.052668,0.055417,0.052354,0.058845,0.057049,0.061108,0.052959,0.058457,286.55,2940.94
2,2018-01-03,4.427526e+07,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.053122,0.056538,0.054354,0.059277,0.055647,0.065069,0.052840,0.064005,286.55,2940.94
3,2018-01-04,4.457223e+07,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.050867,0.054752,0.053794,0.058336,0.056066,0.066029,0.052695,0.064102,286.55,2908.68
4,2018-01-05,4.464074e+07,58512.003886,28754.777759,35602.554628,10671.094981,170017.348229,160226.125352,5328.184972,3.37,...,0.051841,0.055389,0.054582,0.056345,0.055165,0.062512,0.052718,0.057780,286.55,2885.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2024-09-02,8.546849e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2459,2024-09-03,8.640115e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2460,2024-09-04,8.629438e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2461,2024-09-05,8.628733e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05
2462,2024-09-06,8.641926e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.100440,0.107696,343.99,4022.05

In [39]:
BD = BD[BD['Fecha']>'2023-06-30']

In [40]:
BD

,Fecha,AUM FIC,Efectivo,Reserva Bancaria,Del sector privado,Del sector público,Cuentas de ahorro,CDT 1/,Otros depósitos a la vista,Inflación anual %,...,Tasa A 120 días,Tasa Entre 121 y 179 días,Tasa A 180 días,Tasa Entre 181 y 359 días,Tasa A 360 días,Tasa Superiores a 360 días,Tasa Captaciones a través de CDT por red de oficinas,Tasa Captaciones a través de CDT por tesorería,Valor hoy,VALOR
2028,2023-07-01,6.351018e+07,104899.026610,36214.390302,52460.939127,12694.456813,271133.819722,283581.177411,10152.719716,11.78,...,0.132305,0.137866,0.133719,0.138693,0.134858,0.144172,0.13401,0.145632,318.28,4177.58
2029,2023-07-02,6.353311e+07,104899.026610,36214.390302,52460.939127,12694.456813,271133.819722,283581.177411,10152.719716,11.43,...,0.132305,0.137866,0.133719,0.138693,0.134858,0.144172,0.13401,0.145632,318.28,4128.08
2030,2023-07-03,6.355228e+07,104899.026610,36214.390302,52460.939127,12694.456813,271133.819722,283581.177411,10152.719716,11.43,...,0.132305,0.137866,0.133719,0.138693,0.134858,0.144172,0.13401,0.145632,318.28,4128.08
2031,2023-07-04,6.405831e+07,104899.026610,36214.390302,52460.939127,12694.456813,271133.819722,283581.177411,10152.719716,11.43,...,0.132305,0.137866,0.133719,0.138693,0.134858,0.144172,0.13401,0.145632,318.28,4128.08
2032,2023-07-05,6.374472e+07,104899.026610,36214.390302,52460.939127,12694.456813,271133.819722,283581.177411,10152.719716,11.43,...,0.133892,0.138709,0.138894,0.136862,0.146772,0.140329,0.13620,0.144546,318.19,4128.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2024-09-02,8.546849e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.10044,0.107696,343.99,4022.05
2459,2024-09-03,8.640115e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.10044,0.107696,343.99,4022.05
2460,2024-09-04,8.629438e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.10044,0.107696,343.99,4022.05
2461,2024-09-05,8.628733e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.10044,0.107696,343.99,4022.05
2462,2024-09-06,8.641926e+07,115352.909509,38850.142207,54592.321310,12587.092836,297635.874303,311563.436331,11007.029787,7.16,...,0.100588,0.102314,0.102521,0.106169,0.107774,0.106101,0.10044,0.107696,343.99,4022.05

In [41]:
BD.to_csv('Nuevos_datos.csv',sep=",",index=False, encoding='utf-8') # Convertir a CSV